---
import { Image, Picture } from 'astro:assets';
const { slug } = Astro.props;
const { image, title, description } = Astro.props.metadata;
---

<div class="mx-auto flex flex-col gap-4 max-w-2xl">
    <a href=`/projects/${slug}/`>
        <div transition:name=`image-${slug}`>
            <Picture
                src={image.url}
                alt={image.alt}
                widths={[400, 600, 1200, 1600]}
                width="1600"
            />
        </div>
    </a>
    <div
        class="project-card grid sm:grid-rows-2 grid-cols-1 sm:grid-cols-2 gap-4"
    >
        <h2 class="text-4xl font-semibold leading-tight tracking-tight">
            {title}
        </h2>
        <p class="row-span-2">{description}</p>
        <a
            href=`/projects/${slug}/`
            class="justify-self-start self-start button font-mono"
        >
            Learn More
        </a>
    </div>
</div>

<style>
    p {
        text-wrap: balance;
    }
</style>
