---
import { Image, Picture } from 'astro:assets';
const { data, slug } = Astro.props;
import { getRandomPlaceholderImage } from '@utils/getRandomPlaceholderImage';

let image;
if (!data.image) {
    image = getRandomPlaceholderImage();
} else {
    image = data.image;
}
---

<div
    class="flex flex-col gap-2 items-center text-center hover:underline sm:max-w-[213.33px]"
>
    <a href=`/about/${slug}/`>
        <div transition:name=`image-${slug}`>
            <Picture
                src={image}
                alt={`Photo of ${data.name}`}
                widths={[400, 600, 1200, 1600]}
                width="1000"
                sizes="(min-width: 640px) 33vw, 100vw"
                class="aspect-square object-cover object-center overflow-hidden max-w-full"
            />
        </div>
        <p class="text-lg font-medium">{data.name}</p>
    </a>
    <p class="font-mono text-sm">{data.subtitle}</p>
</div>

<style>
    p {
        text-wrap: balance;
    }
</style>
