---
import { Image } from 'astro:assets';
const { name, description, image, slug } = Astro.props;
---

<div class="flex flex-col gap-2 items-center text-center">
    <a href=`/about/${slug}`>
        <Image
            src={image.url}
            alt={image.alt}
            transition:name=`image-${slug}`
        />
        <p class="text-lg font-medium">{name}</p>
    </a>
    <p class="font-mono text-sm">{description}</p>
</div>

<style>
    p {
        text-wrap: balance;
    }
</style>
