---
import { Image, Picture } from 'astro:assets';
import { getCollection } from 'astro:content';

import Base from '@layouts/Base.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import OrganizerCard from '@components/About/OrganizerCard.astro';
import ContactInfo from '@components/ContactInfo.astro';

import Screening from 'src/images/screening.jpg';
import Workshop from 'src/images/workshop.jpg';

import { organizerList, boardOfDirectorsList } from 'src/metadata';

const organizers = await getCollection('people', (person) =>
    organizerList.includes(person.slug)
);

const boardOfDirectors = await getCollection('people', (person) =>
    boardOfDirectorsList.includes(person.slug)
);
---

<Base title="About">
    <div class="mx-auto p-4">
        <h1
            class="text-center text-4xl font-semibold py-16 max-w-2xl mx-auto font-sans"
        >
            CCAM is an artist-run platform at the nexus of art, technology, and
            contemporary thought.
        </h1>
        <HorizontalSpacer class="mb-4" />
        <section class="max-w-2xl mx-auto pt-12 pb-16">
            <p>
                CCAM’s primary goal is building an accessible community for the
                development and sharing of abstract ideas and forms of technical
                know-how, know-when, and know-why historically siloed in
                academia. Reciprocally, CCAM aims to hybridize the art,
                technology, and research cultures it borrows from the academy by
                drawing on and inviting in queer, anti-racist, and decolonial
                perspectives. By intentionally developing this community outside
                of the academy, CCAM seeks to break down barriers to access for
                engaging in research in art, technology, and surrounding
                criticism and theory. CCAM strives to center queer, anti-racist,
                and decolonial perspectives in art and art technology.
            </p>
            <figure class="text-center flex flex-col gap-2 py-16">
                <Picture
                    src={Workshop}
                    alt="Participants at a multichannel sound workshop in November 2023 listening carefully."
                    class="mx-auto"
                    widths={[400, 600, 1200]}
                />
                <figcaption class="text-textColor/50 text-sm font-mono">
                    Participants at a multichannel sound workshop in November
                    2023 listening carefully.
                </figcaption>
            </figure>
            <p>
                CCAM serves artists in our community by offering donation-based
                seminars, talks, and working groups investigating the liberatory
                potentials of different theories of art, science, and
                technology. In its workshop programming and future residency
                offerings, CCAM takes a para-academic approach that prioritizes
                transdisciplinary exchange between residents, mentors, and
                guests. CCAM’s focus on technology aims to provide artists with
                diverse and experimental approaches to expressive interactive
                media art creation. We build community through collaborative
                learning workshops and working groups focused on both
                bleeding-edge toolkits as well as DIY and open-source platforms
                for sound and video instrument composition.
            </p>
            
            <br>
            <p>We regularly partner with organizations and artist-run platforms in Chicago and beyond. Some of them include: TriTriangle, Dispersion Lab, NewINC, The Neu Lithium, Drone/Ambient/Noise, Watershed Art and Ecology, Public Works, Onion City Film Festival, and the Performance Technology Research Group at SAIC.</p>
            
            <br>
            <p>CCAM is supported by the Hyde Park Arts Center Artist Run Chicago (ARC) program and the Terra Foundation's Art Design Chicago program.</p>
            
        
            <div class="mt-12">
                <ContactInfo />
            </div>
           
        </section>
        <HorizontalSpacer />
        <section class="max-w-2xl mx-auto py-16">
            <h3 class="text-center text-Purple font-light font-mono">
                Organizers
            </h3>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4">
                {
                    organizers.map((organizer) => (
                        <OrganizerCard
                            data={organizer.data}
                            slug={organizer.slug}
                        />
                    ))
                }
            </div>
        </section>
        <HorizontalSpacer />
        <section class="max-w-2xl mx-auto py-16">
            <h3 class="text-center text-Purple font-light font-mono">
                Board of Directors
            </h3>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4">
                {
                    boardOfDirectors.map((organizer) => (
                        <OrganizerCard
                            data={organizer.data}
                            slug={organizer.slug}
                        />
                    ))
                }
            </div>
        </section>
        <HorizontalSpacer class="pb-4" />
        <figure class="text-center flex flex-col gap-2">
            <Picture
                src={Screening}
                alt="Panelists Seth Brodsky, Kristi McGuire, Doug Rosman, and Garrett Laroy Johnson at a September 2023 screening event."
                class="mx-auto"
                widths={[400, 600, 1200, Screening.width]}
            />
            <figcaption class="text-textColor/50 text-sm font-mono">
                Panelists Seth Brodsky, Kristi McGuire, Doug Rosman, and Garrett
                Laroy Johnson at a September 2023 screening event.
            </figcaption>
        </figure>
    </div>
</Base>

<style>
    h1 {
        text-wrap: balance;
    }
    a {
        @apply border-b border-dashed border-Black;
    }
</style>
