---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
import ProgramCard from '../components/Programs/ProgramCard.astro';
import ResourcesDisplay from '../components/Resources/ResourcesDisplay.astro';

import space from '../images/space.png';
import squareSpace from '../images/space-square.png';
import CCAM from '../images/CCAM.png';
import leftBracket from '../svg/leftBracket.svg';
import rightBracket from '../svg/rightBracket.svg';

const featuredPrograms = await getCollection('programs', ({ data }) => {
    return data.featured === true;
}).then((result) => result.slice(0, 2));
---

<Base>
    <!-- Splash -->

    <div
        class="grid grid-cols-6 p-4 justify-items-center border-b border-dashed border-Black-30"
    >
        <div
            class="col-span-6 sm:col-span-4
    border-b sm:border-b-0 sm:border-r border-dashed border-Black-30"
        >
            <Image
                src={CCAM}
                alt="Center for Concrete and Abtract Machines"
                class="pb-4 sm:pb-0 sm:pr-4"
            />
        </div>
        <div class="col-span-6 sm:col-span-2 w-full pt-4 sm:pt-0 sm:pl-4">
            <Image
                src={squareSpace}
                alt="Studio Space"
                class="max-w-full mx-auto"
            />
        </div>
    </div>

    <!-- Overview -->

    <div class="p-4">
        <div
            class="pb-4 border-b border-dashed border-Black-30 grid grid-cols-6"
        >
            <div
                class="flex justify-between items-center
                col-span-6 sm:col-span-4
                border-b sm:border-b-0 sm:border-r border-dashed border-Black-30 pb-4 sm:pb-0 sm:pr-4"
            >
                <Image src={leftBracket} alt="Left Bracket" />
                <p class="max-w-xs">
                    Center for Concrete and Abstract Machines is an artist-run
                    platform at the nexus of art, technology, and contemporary
                    thought.
                </p>
                <Image src={rightBracket} alt="Right Bracket" />
            </div>
            <div
                class="flex gap-4 justify-stretch align-stretch flex-col col-span-6 sm:col-span-2 pt-4 sm:pt-0 min-h-[195px]"
            >
                <button class="border border-dashed border-Black-30 ml-4 grow"
                    >Program Calendar</button
                >
                <button class="border border-dashed border-Black-30 ml-4 grow"
                    >Research Projects</button
                >
                <button class="border border-dashed border-Black-30 ml-4 grow"
                    >About us</button
                >
            </div>
        </div>
    </div>

    <!-- Programs -->

    <div class="grid grid-cols-1 sm:grid-cols-2">
        {
            featuredPrograms.map((program) => (
                <div class="program-card-container">
                    <ProgramCard
                        slug={program.slug}
                        frontmatter={program.data}
                    />
                </div>
            ))
        }
    </div>

    <!-- About -->

    <div
        class="grid place-items-center border-t border-b border-dashed border-Black-30 mx-4 mt-4"
    >
        <div class="grid grid-cols-1 md:grid-cols-2 max-w-3xl py-20 gap-8">
            <div
                class="flex flex-col justify-between items-start order-2 sm:order-1"
            >
                <p>
                    Nomadically based in Chicago, CCAM is an artist-run platform
                    at the nexus of art, technology, and contemporary thought.
                    CCAM’s primary goal is building an accessible community for
                    the development and sharing of abstract ideas and forms of
                    technical know-how, know-when, and know-why historically
                    siloed in academia.
                </p>
                <button
                    class="border border-dashed border-Black-30 px-4 py-2 mt-8"
                    >Learn More</button
                >
            </div>
            <div class="mt-8 sm:mt-0 order-1 sm:order-2">
                <Image src={space} alt="Image of workshop space" />
            </div>
        </div>
    </div>

    <!-- Resources -->

    <ResourcesDisplay />
</Base>

<style>
    .program-card-container:first-of-type {
        @apply border-b sm:border-b-0 sm:border-r border-Black-30 border-dashed;
    }
</style>
