---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
import ProgramCard from '../components/Programs/ProgramCard.astro';
import ResourcesDisplay from '../components/Resources/ResourcesDisplay.astro';
import GridSpacer from '../components/GridSpacer.astro';

import space from '../images/space.png';
import squareSpace from '../images/space-square.png';
import CCAM from '../images/CCAM.png';
import HorizontalSpacer from '../components/HorizontalSpacer.jsx';
import Brackets from '../components/Brackets.astro';

const featuredPrograms = await getCollection('programs', ({ data }) => {
    return data.featured === true;
}).then((result) => result.slice(0, 2));
---

<Base>
    <!-- Splash -->
    <div class="px-4 pt-4">
        <div class="thirds-container grid gap-4 justify-items-center">
            <!-- <Image
                src={CCAM}
                alt="Center for Concrete and Abtract Machines"
                class="dark:invert"
            /> -->
            <h1
                class="text-6xl lg:text-8xl leading-none uppercase font-sans font-medium"
            >
                Cent<span
                    class="morpher text-[58.5px] lg:text-[93.5px]"
                    >e</span
                >r fo<span
                    class="morpher text-[58.5px] lg:text-[93.5px]"
                    >r</span
                > C<span
                    class="morpher  text-[58.5px] lg:text-[93.5px]"
                    >o</span
                >ncr<span
                    class="morpher  text-[58.5px] lg:text-[93.5px]"
                    >e</span
                >te <br /> and <span
                    class="morpher mbsq text-[58.5px] lg:text-[93.5px]"
                    >A</span
                >bs<span
                    class="morpher  text-[58.5px] lg:text-[93.5px]"
                    >t</span
                >ra<span
                    class="morpher text-[58.5px] lg:text-[93.5px]"
                    >c</span
                >t <span
                    class="morpher text-[58.5px] lg:text-[93.5px]"
                    >M</span
                >a<span
                    class="morpher text-[58.5px] lg:text-[93.5px]"
                    >c</span
                >hines
            </h1>
            <GridSpacer />
            <div class="w-full">
                <Image
                    src={squareSpace}
                    alt="Studio Space"
                    class="max-w-full mx-auto"
                />
            </div>
        </div>
    </div>

    <!-- Overview -->

    <div class="px-4 pt-4">
        <HorizontalSpacer />
        <div class="grid thirds-container gap-4">
            <Brackets>
                <p class="max-w-[60%] mx-auto text-xl">
                    Center for Concrete and Abstract Machines is an artist-run
                    platform at the nexus of art, technology, and contemporary
                    thought.
                </p>
            </Brackets>
            <GridSpacer />
            <div
                class="flex gap-4 justify-stretch align-stretch flex-col pt-4 sm:pt-0 min-h-[195px]"
            >
                <a href="/programs" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >Program Calendar</button
                    ></a
                >
                <a href="/projects" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >Research Projects</button
                    ></a
                >
                <a href="/about" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >About Us</button
                    ></a
                >
            </div>
        </div>
    </div>

    <!-- Programs -->
    <div class="px-4 pt-4">
        <HorizontalSpacer />
        <div class="grid two-columns gap-4">
            {
                featuredPrograms.map((program) => (
                    <>
                        <ProgramCard
                            slug={program.slug}
                            frontmatter={program.data}
                        />
                        <GridSpacer />
                    </>
                ))
            }
        </div>
    </div>

    <!-- About -->
    <div class="px-4 pt-4">
        <HorizontalSpacer />
        <div class="grid place-items-center mx-4 mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 md:w-10/12 py-20 gap-8">
                <div
                    class="flex flex-col justify-between items-start order-2 md:order-1"
                >
                    <p class="text-xl">
                        Nomadically based in Chicago, CCAM is an artist-run
                        platform at the nexus of art, technology, and
                        contemporary thought. CCAM’s primary goal is building an
                        accessible community for the development and sharing of
                        abstract ideas and forms of technical know-how,
                        know-when, and know-why historically siloed in academia.
                    </p>
                    <a href="/about"
                        ><button class="button font-mono mt-8"
                            >Learn More</button
                        ></a
                    >
                </div>
                <div class="mt-8 sm:mt-0 mx-auto order-1 md:order-2">
                    <Image src={space} alt="Image of workshop space" />
                </div>
            </div>
        </div>
    </div>

    <!-- Resources -->
    <div class="px-4">
        <HorizontalSpacer />
        <div class="header flex justify-between items-center">
            <h2 class="text-2xl font-medium">Resources</h2>
            <a href="/resources">
                <button class="button font-mono">View All</button>
            </a>
        </div>
        <ResourcesDisplay displayCount={5} />
    </div>


    <script>
        const colors = ["#747fef","#a5f91d","#ffd500"]
        const classes = [["font-sans","font-medium"],["font-moonbase","mbsq"],["font-moonbase","mbrd"]]
        const elements = document.getElementsByClassName("morpher");
        let classState=[];
      
        for(let i = 0; i< elements.length; i++){
            classify(i);
        }

        function classify(i){
        let newClasses = classes[Math.floor(Math.random()*classes.length)]
        let newColor = classes[Math.floor(Math.random()*colors.length)]
        
        for(let n of newClasses){
            elements[i].classList.add(n);
                   }
       elements[i].style.color = newColor;
       console.log(elements[i]);
        classState[i]=newClasses;
        let duration = 200+ Math.random()* 2000;
        setTimeout(() => {
            declassify(i)
    }, duration);

       }
       function declassify(i){
        for (let s of classState[i]){
            elements[i].classList.remove(s);
                    }
                    classify(i)
}
    </script> 
    
</Base>
