---
const { gallery } = Astro.props;

import { Picture } from 'astro:assets';
import { getOptimizedImagesForGallery } from '@utils/galleryHelpers';

function sortByFileName(stringA, stringB) {
    const [nameA, nameB] = [
        stringA.split('/').at(-1).split('.').at(0),
        stringB.split('/').at(-1).split('.').at(0),
    ];
    return nameA - nameB;
}

const optimizedImages = await getOptimizedImagesForGallery(gallery);

let galleryWidth;
if (optimizedImages.length <= 2) {
    galleryWidth = 'double';
} else if (optimizedImages.length === 3) {
    galleryWidth = 'triple';
} else {
    galleryWidth = 'quad';
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="lightgallery" class=`card-grid ${galleryWidth} pb-4`>
            {
                gallery &&
                    optimizedImages.map((obj) => (
                        <a
                            href={obj.optimized.src}
                            target="_blank"
                            data-sub-html=".caption"
                        >
                            <Picture
                                src={obj.optimized.src}
                                alt=""
                                width={obj.optimized.attributes.width}
                                height={obj.optimized.attributes.height}
                                widths={[400, 600, 1200, 1600]}
                                sizes="(min-width: 640px) 25vw, 100vw"
                                class="aspect-[4/3] object-cover object-center"
                            />
                            <div class="caption">
                                {obj.caption && (
                                    <p class="text-sm font-mono whitespace-nowrap overflow-hidden text-ellipsis">
                                        {obj.caption}
                                    </p>
                                )}
                                {obj.credit && (
                                    <p class="opacity-50 text-xs font-mono whitespace-nowrap overflow-hidden text-ellipsis">
                                        Photo: {obj.credit}
                                    </p>
                                )}
                            </div>
                        </a>
                    ))
            }
        </div>
    </body>
</html>
