---
const { gallery, slug } = Astro.props;

import { getOptimizedImagesForGallery } from '@utils/galleryHelpers';
import { Picture } from 'astro:assets';

const optimizedImages = await getOptimizedImagesForGallery(gallery);

let galleryWidth;
if (optimizedImages.length <= 2) {
    galleryWidth = 'double';
} else if (optimizedImages.length === 3) {
    galleryWidth = 'triple';
} else {
    galleryWidth = 'quad';
}

const linkToLoadGallery = `/programs/${slug}-gallery#gallery-target`;
---

<a href={linkToLoadGallery} target="htmz">
    <div class=`card-grid ${galleryWidth} gallery-preview`>
        {
            gallery &&
                optimizedImages
                    .slice(0, 4)
                    .map(({ optimized }) => (
                        <Picture
                            src={optimized.src}
                            alt=""
                            width={optimized.attributes.width}
                            height={optimized.attributes.height}
                            widths={[400, 600, 1200, 1600]}
                            sizes="(min-width: 640px) 25vw, 100vw"
                            class="aspect-[4/3] object-cover object-center opacity-50 no-fade"
                        />
                    ))
        }
    </div>
</a>
<a
    href={linkToLoadGallery}
    target="htmz"
    class="mx-auto text-textColor w-fit font-mono no-underline border border-dashed border-borderColor/50 px-4 py-2 hover:bg-backgroundHover/5 disabled:text-gray-400 disabled:border-borderColor/10 break-words block my-4"
>
    Click to see full gallery
</a>
