---
const { gallery } = Astro.props;

import { Image, getImage, Picture } from 'astro:assets';

function sortByFileName(stringA, stringB) {
    const [nameA, nameB] = [
        stringA.split('/').at(-1).split('.').at(0),
        stringB.split('/').at(-1).split('.').at(0),
    ];
    return nameA - nameB;
}

const allImages = await import.meta.glob<{ default: ImageMetadata }>(
    '/src/content/programs/images/*/*'
);
// const allImages = import.meta.glob<{ default: ImageMetadata }>(
//     'public/assets/images/*/*'
// );

let galleryImageKeys: string[];
if (gallery) {
    galleryImageKeys = Object.keys(allImages)
        .filter((key) => key.includes(gallery))
        .sort(sortByFileName);
}

const optimizedImages = await Promise.all(
    galleryImageKeys.map(
        async (path) =>
            await getImage({
                src: allImages[path](),
                format: 'webp',
                width: 1600,
            })
    )
);

let galleryWidth;
if (optimizedImages.length <= 2) {
    galleryWidth = 'double';
} else if (optimizedImages.length === 3) {
    galleryWidth = 'triple';
} else {
    galleryWidth = 'quad';
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="lightgallery" class=`card-grid ${galleryWidth}`>
            {
                gallery &&
                    optimizedImages.map((obj) => (
                        <a href={obj.src} target="_blank">
                            <Picture
                                src={obj.src}
                                alt=""
                                width={obj.attributes.width}
                                height={obj.attributes.height}
                                widths={[400, 600, 1200, 1600]}
                                sizes="(min-width: 640px) 25vw, 100vw"
                                class="aspect-[4/3] object-cover object-center"
                            />
                        </a>
                    ))
            }
        </div>
    </body>
</html>
