---
const { data, slug } = Astro.props;
---

<div class="flex flex-col sm:flex-row flex-wrap gap-4 font-mono text-sm mt-4">
    {
        data.social?.display && data.social?.url && (
            <>
                <span>
                    <a href={data.social.url}>@{data.social.display}</a>
                </span>
                <span class="opacity-30 hidden sm:inline">|</span>
            </>
        )
    }
    {
        data.website?.display && data.website?.url && (
            <span>
                <a href={data.website.url} target="_blank">
                    {data.website.display}
                </a>
            </span>
        )
    }
    <!-- <span class="opacity-30 hidden sm:inline">|</span>
    <a href=`/search/${slug}`>#{slug}</a> -->
</div>
