---
import { Image, Picture } from 'astro:assets';

import type { ImageMetadata } from 'astro';

import ResourceType from '@components/ResourceType.astro';
import TagsList from './TagsList.astro';

const { image, title, type, tags } = Astro.props.metadata;
const { slug, metaType, metaSlug } = Astro.props;

const typeProp = type ? type : metaType;

const personCardImages = import.meta.glob<{ default: ImageMetadata }>(
    'src/images/person-cards/*.png'
);
let imageSrc;
if (!image) {
    const keys = Object.keys(personCardImages);
    const randomKey = keys[Math.floor(Math.random() * keys.length)];
    const thing = await personCardImages[randomKey]();
    imageSrc = thing.default;
} else {
    imageSrc = image.url;
}
---

<div class="hover:bg-backgroundHover/5">
    <!-- <HorizontalSpacer class="mb-4" /> -->
    <div class="resource-grid grid gap-4 p-4">
        <div transition:name=`image-${slug}`>
            <a href=`/${metaSlug}/${slug}`>
                <Picture
                    src={imageSrc}
                    alt={image ? image.alt : ''}
                    class="aspect-square object-cover object-center overflow-hidden max-w-full w-20 h-20"
                    widths={[400, 600, 1200, imageSrc.width]}
                />
            </a>
        </div>
        <div>
            <a href=`/${metaSlug}/${slug}`
                ><h3 class="text-xl font-medium">{title}</h3></a
            >
            <div
                class="flex justify-start items-center gap-2 pt-2 font-mono text-xs"
            >
                <div class="shrink-0 self-start">
                    <ResourceType type={typeProp} />
                </div>
                <TagsList tags={tags} />
            </div>
        </div>
    </div>
</div>

<style>
    @media (min-width: 400px) {
        .resource-grid {
            grid-template-columns: 5rem repeat(1, minmax(0, 1fr));
        }
    }
</style>
