---
import { Image, Picture } from 'astro:assets';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import placeholder from 'src/content/resources/images/placeholder.png';
import TagsList from '@components/TagsList.astro';
import ResourceType from '@components/ResourceType.astro';

const { image, title, type, author, year, tags } = Astro.props.metadata;
const { slug } = Astro.props;
---

<div class="hover:bg-backgroundHover/5">
    <HorizontalSpacer class="mb-4" />
    <div class="resource-grid grid gap-4 pb-4 pl-4">
        <div transition:name=`image-${slug}`>
            <a href=`/resources/${slug}`>
                {
                    image ? (
                        <Picture
                            src={image.url}
                            alt={image.alt}
                            class="aspect-square object-cover object-center overflow-hidden max-w-full w-20 h-20"
                            widths={[400, 600, 1200, image.url.width]}
                        />
                    ) : (
                        <Picture
                            src={placeholder}
                            alt="Placeholder image"
                            class="aspect-square object-cover object-center overflow-hidden max-w-full w-20 h-20"
                            widths={[400, 600, 1200, placeholder.width]}
                        />
                    )
                }
            </a>
        </div>
        <div>
            <a href=`/resources/${slug}`
                ><h3 class="text-xl font-medium">{title}</h3></a
            >
            <div
                class="flex flex-wrap justify-start items-center gap-2 pt-2 font-mono text-xs"
            >
                <ResourceType type={type} />
                {
                    author && year && (
                        <div class="flex gap-2 flex-wrap">
                            {author}
                            <span class="opacity-30">|</span>
                            {year}
                        </div>
                    )
                }
            </div>
        </div>
        <TagsList tags={tags} />
    </div>
</div>

<style>
    @media (min-width: 400px) {
        .resource-grid {
            grid-template-columns: 5rem repeat(2, minmax(0, 1fr));
        }
    }
</style>
