---
import { Image } from 'astro:assets';
import HorizontalSpacer from '../HorizontalSpacer.astro';

const { image, title, type, author, year } = Astro.props.metadata;

function randomBG() {
    const colors = [
        'bg-Orange',
        'bg-Green',
        'bg-Yellow',
        'bg-Purple',
        'bg-Blue',
    ];
    return colors[Math.floor(Math.random() * colors.length)];
}
---

<HorizontalSpacer />
<div class="flex gap-4 pb-4">
    <Image
        src={image.url}
        alt={image.alt}
        class="aspect-square object-contain object-center overflow-hidden max-w-full shrink-0"
    />
    <div>
        <!-- TODO: mobile collapse view -->

        <h3 class="text-xl font-medium">{title}</h3>
        <div class="flex flex-wrap justify-start items-center gap-2 pt-2">
            <div
                class=`flex justify-center items-center ${randomBG()} px-4 py-2 whitespace-nowrap`
            >
                {type}
            </div>
            <div class="flex gap-2 flex-wrap">
                {author}<span class="opacity-30">|</span>{year}
            </div>
        </div>
    </div>
</div>
