---
import metadata from 'src/metadata.js';
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import 'src/styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import ThemeProvider from '@components/ThemeProvider.astro';
import ContactDialog from '@components/ContactDialog.astro';

const { title } = Astro.props;

let tabTitle;
if (title) {
    tabTitle = `${title} - ${metadata.siteTitle}`;
} else {
    tabTitle = `${metadata.siteTitle}: ${metadata.subtitle}`;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="canonical" href={Astro.site.origin + Astro.url.pathname} />
        <meta name="description" content={metadata.description} />
        <meta property="og:title" content={tabTitle} />
        <meta
            property="og:url"
            content={Astro.site.origin + Astro.url.pathname}
        />
        <meta property="og:description" content={metadata.description} />
        <meta
            property="og:image"
            content=`${Astro.site.origin}/ccam-social.png`
        />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content={metadata.description} />
        <meta name="twitter:title" content={tabTitle} />
        <meta
            name="twitter:image"
            content=`${Astro.site.origin}/ccam-social.png`
        />

        <link rel="icon" type="image/png" href="/favicon-light.png" />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-dark.png"
            media="(prefers-color-scheme: dark)"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>
            {tabTitle}
        </title>
        <ViewTransitions fallback="swap" />
    </head>
    <body>
        <ThemeProvider />
        <Header />
        <div class="container mx-auto max-w-7xl">
            <div class="body-border">
                <div>
                    <slot />
                </div>
                <Footer />
            </div>
        </div>
        <ContactDialog />
    </body>
</html>
