---
import BasicMarkdownLayout from './BasicMarkdownLayout.astro';
import { Image } from 'astro:assets';

const { name, description, image } = Astro.props.frontmatter;
const { slug } = Astro.props;
---

<BasicMarkdownLayout frontmatter={{ title: name }}>
    <div transition:name=`image-${slug}`>
        <Image src={image.url} alt={image.alt} />
    </div>
    <h1>{name}</h1>
    <h2>{description}</h2>
    <slot />
</BasicMarkdownLayout>
