---
import PersonMetadata from '@components/PersonMetadata.astro';
import BasicMarkdownLayout from './BasicMarkdownLayout.astro';
import { Image, Picture } from 'astro:assets';

const { name, subtitle, description, image } = Astro.props.frontmatter;
const { slug, frontmatter } = Astro.props;
const data = frontmatter;
---

<BasicMarkdownLayout frontmatter={{ title: name }}>
    <div transition:name=`image-${slug}`>
        <Picture
            src={image}
            alt=""
            class="mx-auto"
            widths={[400, 600, 1200]}
            width="1200"
        />
    </div>
    <h1 class="text-center">{name}</h1>
    <h2 class="">{subtitle}</h2>
    <PersonMetadata data={frontmatter} />
    <slot />
</BasicMarkdownLayout>
