---
import HorizontalSpacer from '../components/HorizontalSpacer.astro';
import Base from './Base.astro';
import { Image } from 'astro:assets';

const { title, subtitle, image } = Astro.props.frontmatter;
const { slug } = Astro.props;
---

<Base>
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <h1
                class="text-4xl uppercase font-semibold leading-tight tracking-tight text-center py-24"
            >
                {title}
                {
                    subtitle && (
                        <span>
                            : <br />
                            {subtitle}
                        </span>
                    )
                }
            </h1>
        </div>
        <HorizontalSpacer />
        <div class="mx-auto pb-4 max-w-2xl">
            <Image
                src={image.url}
                alt={image.alt}
                transition:name=`image-${slug}`
                class="mx-auto"
            />
        </div>
        <HorizontalSpacer />
        <div class="prose dark:prose-invert mx-auto">
            <slot />
        </div>
    </div>
</Base>
