---
import Base from '@layouts/Base.astro';
import TitleCard from '@components/TitleCard.astro';
import ProgramCard from '@components/Programs/ProgramCard.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import FilterBar from '@components/Programs/FilterBar.astro';
import {
    isEventUpcoming,
    sortByPubDate,
    filterDraftsAndPubDate,
} from 'src/utils/programFilters';

const { events, subtitle, description, filter } = Astro.props;

const heading = {
    title: subtitle ? subtitle : 'Programs',
    description: description
        ? description
        : 'Our school supports interdisciplinary study in art, code, hardware and critical theory through events, classes, and workshops.',
};

const sortedEvents = events.sort(sortByPubDate);

const upcomingPrograms = sortedEvents
    .filter(filterDraftsAndPubDate)
    .filter(({ data }) => isEventUpcoming(data));

const pastPrograms = sortedEvents
    .filter(filterDraftsAndPubDate)
    .filter(({ data }) => !isEventUpcoming(data));
---

<Base title={subtitle}>
    <div class="mx-auto w-full">
        <TitleCard
            title={heading.title}
            text={heading.description}
            class="px-4"
        />
        <div class="min-w-0">
            <FilterBar filter={filter} class="mx-4" />
            <HorizontalSpacer class="mx-4" />
            {
                upcomingPrograms.length > 0 && (
                    <>
                        <div class="card-grid double p-4">
                            {upcomingPrograms.map((program) => (
                                <div>
                                    <ProgramCard
                                        slug={program.slug}
                                        frontmatter={program.data}
                                    />
                                </div>
                            ))}
                        </div>
                    </>
                )
            }
        </div>

        <div>
            <HorizontalSpacer class="mx-4" />

            <h2
                class="text-center py-16 font-medium leading-tight tracking-tight text-3xl"
            >
                Past Programs
            </h2>
            <HorizontalSpacer class="mx-4" />
        </div>
        <div class="card-grid triple p-4">
            {
                pastPrograms.map((program) => (
                    <div>
                        <ProgramCard
                            slug={program.slug}
                            frontmatter={program.data}
                            headingSize="text-xl"
                        />
                    </div>
                ))
            }
        </div>
    </div>
</Base>
