---
import HorizontalSpacer from '@components/HorizontalSpacer.jsx';
import Base from '@layouts/Base.astro';
import { Image } from 'astro:assets';

const { title, subtitle, image, tags } = Astro.props.frontmatter;
const { slug } = Astro.props;
---

<Base title={title}>
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <h1
                class="text-4xl uppercase font-semibold leading-tight tracking-tight text-center py-24"
            >
                {title}
                {
                    subtitle && (
                        <span>
                            : <br />
                            {subtitle}
                        </span>
                    )
                }
            </h1>
        </div>
        <HorizontalSpacer />
        <div class="mx-auto pb-4 max-w-2xl">
            <div transition:name=`image-${slug}`>
                <Image src={image.url} alt={image.alt} class="mx-auto" />
            </div>
        </div>
        <HorizontalSpacer />
        <div class="prose dark:prose-invert mx-auto">
            <div>
                <span class="flex gap-2 flex-wrap">
                    Tags: {
                        tags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)
                    }
                </span>
            </div>
            <slot />
        </div>
    </div>
</Base>
