---
import Base from '@layouts/Base.astro';
import GalleryPreview from '@components/GalleryPreview.astro'
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import TagsList from '@components/TagsList.astro';
import Tag from '@components/Programs/Tag.astro';
import { Picture } from 'astro:assets';
import DateStatus from '@components/DateStatus.astro';
import ProgramMetadata from '@components/ProgramMetadata.astro';
import PeopleDisplay from '@components/PeopleDisplay.astro';
import { getCollection } from 'astro:content';
import AssProjectLink from '@components/AssProjectLink.astro';
import ResourcesDisplay from '@components/Resources/ResourcesDisplay.astro';

const {
    title,
    subtitle,
    image,
    tags,
    gallery,
    presentationalDates,
    time,
    location,
    endDate,
    type,
    people,
    assProjectId,
    displayResources
} = Astro.props.frontmatter;
const { slug } = Astro.props;

const [assProject] = await getCollection(
    'projects',
    ({ data }) => data.projectId === assProjectId
);

const assResources = await getCollection('resources', ({ data }) => data.tags.includes(displayResources))
---

<Base title={title}>
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <h1
                class="text-4xl uppercase font-semibold leading-tight tracking-tight text-center py-24"
            >
                {subtitle ? title+":" : title}
                {subtitle && (
                        <span>
                            {subtitle}
                        </span>
                    )
                }
            </h1>
        </div>
        <HorizontalSpacer />
        <div class="mx-auto py-4 max-w-2xl">
            <div transition:name=`image-${slug}`>
                <Picture
                    src={image.url}
                    alt={image.alt}
                    class="mx-auto"
                    widths={[400, 600, 1200, 1600]}
                    width="1600"
                />
            </div>
        </div>
        <HorizontalSpacer />
        <div class="prose dark:prose-invert prose-headings:font-semibold mx-auto my-4 mb-12">
            <div class="my-4">
                <ProgramMetadata
                    presentationalDates={presentationalDates}
                    time={time}
                    location={location}
                />
                <div class="flex gap-2 my-4 grow-0 flex-wrap text-sm">
                    <DateStatus date={endDate} />
                    <Tag tag={type} />
                </div>
                {assProjectId && <AssProjectLink assProject={assProject} />}
            </div>
            <div class="mt-8">
                <slot />
            </div>
            <TagsList tags={tags} class="mt-12 mb-16"/>
        </div>
        {
            gallery && (
                <>
                    <HorizontalSpacer class="my-4" />
                    <h2 class="text-2xl sm:text-3xl font-semibold text-center my-12">
                        Gallery
                    </h2>
                    <HorizontalSpacer class="my-4" />
                    <div id="gallery-target" class="mb-12">
                        <GalleryPreview gallery={gallery} slug={slug} />
                    </div>
                        <iframe hidden name=htmz onload="setTimeout(()=>{document.querySelector(contentWindow.location.hash||null)?.replaceWith(...contentDocument.body.childNodes);
                            const galleryLoadedEvent = new CustomEvent('gallery-loaded');
                            document.dispatchEvent(galleryLoadedEvent);})"></iframe>
                </>
            )
        }
        {assResources.length > 0 && (
            <HorizontalSpacer class="my-4" />
            <h2 class="text-2xl sm:text-3xl font-semibold text-center my-12">
                Resources
            </h2>
            <HorizontalSpacer />
            <ResourcesDisplay tag={displayResources} />
        )}

        {people && <PeopleDisplay people={people} />}


    </div>

</Base>

<script>
    import lightGallery from 'lightgallery';
    import 'lightgallery/css/lightgallery.css';
    document.addEventListener('gallery-loaded', () => {
        lightGallery(document.getElementById('lightgallery'), {
            licenseKey: '0000-0000-000-0000',
            speed: 200,
            download: false,
            hideControlOnEnd: true,
            loop: false,
            subHtmlSelectorRelative: true,
            mobileSettings: {
                showCloseIcon: true,
                controls: false,
            }
        });
    })    
</script>