---
import Base from '@layouts/Base.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import TagsList from '@components/TagsList.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { sortByPubDate } from 'src/utils/programFilters';
import ProgramCard from '@components/Programs/ProgramCard.astro';

const { title, subtitle, image, tags, projectId } = Astro.props.frontmatter;
const { slug } = Astro.props;

const associatedPrograms = (
    await getCollection('programs', ({ data }) => {
        return data.assProjectId === projectId;
    })
).sort(sortByPubDate);
---

<Base title={title}>
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <h1
                class="text-4xl uppercase font-semibold leading-tight tracking-tight text-center py-24"
            >
                {title}
                {
                    subtitle && (
                        <span>
                            : <br />
                            {subtitle}
                        </span>
                    )
                }
            </h1>
        </div>
        <HorizontalSpacer />
        <div class="mx-auto py-4 max-w-2xl">
            <div transition:name=`image-${slug}`>
                <Image
                    src={image.url}
                    alt={image.alt}
                    class="mx-auto"
                    widths={[400, 600, 1200, image.url.width]}
                />
            </div>
        </div>
        <HorizontalSpacer />
        <div class="prose dark:prose-invert mx-auto my-4">
            <TagsList tags={tags} />
            <slot />
        </div>
        {
            associatedPrograms && (
                <>
                    <HorizontalSpacer class="my-4" />
                    <h2 class="text-3xl font-medium text-center">
                        Associated Programs
                    </h2>
                    <div class="card-grid double">
                        {associatedPrograms.map((program) => (
                            <ProgramCard
                                headingSize="text-xl"
                                slug={program.slug}
                                frontmatter={program.data}
                            />
                        ))}
                    </div>
                </>
            )
        }
    </div>
</Base>
