---
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import LinkButton from '@components/LinkButton.astro';
import ResourceType from '@components/ResourceType.astro';
import TagsList from '@components/TagsList.astro';
import Base from '@layouts/Base.astro';
import { Image, Picture } from 'astro:assets';

const { title, author, type, year, image, tags, url } = Astro.props.frontmatter;
const { slug } = Astro.props;
---

<Base title={title}>
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            {
                image && (
                    <>
                        <div
                            class="mb-4 mx-auto w-fit"
                            transition:name={`image-${slug}`}
                        >
                            <Picture
                                src={image.url}
                                alt={image.alt}
                                widths={[400, 600, 1200, 1600]}
                                class="max-w-full"
                            />
                        </div>
                        <HorizontalSpacer />
                    </>
                )
            }
            <div>
                <h1 class="text-xl font-medium">{title}</h1>
                <div
                    class="flex flex-wrap justify-start items-center gap-2 pt-2 font-mono text-xs"
                >
                    <ResourceType type={type} />
                    {
                        author && year && (
                            <div>
                                {author}
                                <span class="opacity-30">|</span>
                                {year}
                            </div>
                        )
                    }
                </div>
            </div>
        </div>
        <div class="prose dark:prose-invert mx-auto max-w-2xl py-4">
            <TagsList tags={tags} class="mb-4" />
            <!-- { url && <LinkButton href={url} text="Click here to navigate to a new URL please">} -->
            <slot />
        </div>
    </div>
</Base>
