---
import { Image } from 'astro:assets';
import Tag from './Tag.astro';
const { slug, headingSize = 'text-3xl' } = Astro.props;
const { title, subtitle, dates, time, location, image, tags } =
    Astro.props.frontmatter;
---

<div class="flex flex-col items-start">
    <a href={`programs/${slug}`}>
        <Image
            src={image.url}
            alt={image.alt}
            class="aspect-[1.5] object-cover object-center w-full overflow-hidden max-w-full"
            transition:name=`image-${slug}`
        />
        <h1
            class=`${headingSize} text-neutral-900 font-medium leading-tight tracking-tight w-full mt-6`
        >
            {title}: {subtitle}
        </h1>
    </a>

    <div class="mt-6 font-mono text-xs">
        {dates} | {time} | {location}
    </div>
    <div class="flex gap-2 mt-4 grow-0 flex-wrap text-sm">
        <!-- TODO: add date checking -->
        <div class="text-neutral-50 whitespace-nowrap bg-neutral-900 px-4 py-2">
            Upcoming
        </div>
        {tags.map((tag) => <Tag tag={tag} />)}
    </div>
</div>
