---
import { Image } from 'astro:assets';
import Tag from './Tag.astro';
const { slug, headingSize = 'text-3xl' } = Astro.props;
const {
    title,
    subtitle,
    presentationalDates,
    endDate,
    time,
    location,
    image,
    tags,
} = Astro.props.frontmatter;

function returnDateStatus(endDate) {
    if (endDate === 'ongoing') {
        return 'Ongoing';
    } else if (Date.now() < endDate.getTime()) {
        return 'Upcoming';
    } else {
        return 'Past';
    }
}
---

<div class="flex flex-col items-start">
    <a href={`/programs/${slug}`}>
        <Image
            src={image.url}
            alt={image.alt}
            class="aspect-[1.5] object-cover object-center w-full overflow-hidden max-w-full"
            transition:name=`image-${slug}`
        />
        <h1
            class=`${headingSize} font-semibold leading-tight tracking-tight w-full mt-6`
        >
            {title}{subtitle && `: ${subtitle}`}
        </h1>
    </a>

    <div class="mt-6 font-mono text-xs">
        {presentationalDates} | {time} | {location}
    </div>
    <div class="flex gap-2 mt-4 grow-0 flex-wrap text-sm">
        <!-- TODO: add date checking -->
        <div class="text-neutral-50 whitespace-nowrap bg-neutral-900 px-4 py-2">
            {returnDateStatus(endDate)}
        </div>
        {tags.map((tag) => <Tag tag={tag} />)}
    </div>
</div>
