---
import { Image, Picture } from 'astro:assets';
import Tag from './Tag.astro';
import DateStatus from '@components/DateStatus.astro';
import ProgramMetadata from '@components/ProgramMetadata.astro';
const {
    slug,
    headingSize = 'text-4xl sm:text-5xl',
    class: className,
} = Astro.props;
const {
    title,
    subtitle,
    presentationalDates,
    endDate,
    time,
    location,
    image,
    type,
    gallery,
} = Astro.props.frontmatter;
---

<div class=`flex flex-col items-start ${className}`>
    <a href={`/programs/${slug}`} class="w-full">
        <div transition:name=`image-${slug}` class="mx-auto">
            <Picture
                src={image.url}
                alt={image.alt}
                class="aspect-[1.5] object-cover object-center w-full overflow-hidden max-w-full"
                width="1200"
                widths={[400, 600, 1200]}
                sizes="(max-width: 640px) 50vw, 100vw"
            />
        </div>
        <h2
            class=`${headingSize} font-medium leading-none tracking-tight w-full mt-6`
        >
            {title}{subtitle && `: ${subtitle}`}
        </h2>
    </a>
    <ProgramMetadata
        presentationalDates={presentationalDates}
        time={time}
        location={location}
        class="mt-6"
    />
    <div class="flex gap-2 mt-4 grow-0 flex-wrap text-sm">
        <DateStatus date={endDate} />
        <Tag tag={type} />
        {
            gallery && (
                <div class="text-Black whitespace-nowrap px-4 py-2 bg-Yellow font-mono text-xs">
                    Gallery
                </div>
            )
        }
    </div>
</div>
